@import "@/assets/styles/Main";

.photos-table {
  width: 100%;
  overflow: hidden;
  padding: 20px;

  .photos-table-page-navigation {
    display: flex;
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;

    .page-navigation-btn {
      float: left;
      margin: 5px;
      cursor: pointer;
      text-align: center;
      width: 2rem;

      &:hover {
        color: $textColorHighlight;
      }
    }
  }
}